DEBUG=True
ALLOWED_HOSTS=*
CORS_ALLOWED_ORIGINS=http://21orange.local

SHORTENER_SECRET_KEY=replace-with-generated-secret
STATS_SECRET_KEY=replace-with-generated-secret
QR_SECRET_KEY=replace-with-generated-secret

SHORTENER_DB_NAME=data/db.sqlite3
STATS_DB_NAME=data/db.sqlite3

STATS_SERVICE_URL=http://localhost:8002
SHORTENER_SERVICE_URL=http://localhost:8001

VITE_PORT=3000
VITE_SHORTENER_URL=http://21orange.local
VITE_STATS_URL=http://21orange.local
VITE_QR_URL=http://21orange.local
